/******************* REGLES GLOBALES ***************/
/***************************************************/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  text-decoration: none;
  color: #000000;
  background-color: #F6F6F6;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

main {
  max-width: 800px;
  margin: auto;
}

/******************* LOADER ************************/
/***************************************************/
.loader {
  border: 10px solid #9356DC;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /******************* POSITION LOADER ****************/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /********************** ANIMATION *******************/
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*******************FIN  LOADER ********************/
/***************************************************/

.container-header {
  max-width: 800px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
}

.logo {
  height: 45px;
  width: auto;
}

.localisation {
  height: 50px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  background-color: #EAEAEA;
  margin-right: 10px;
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  background-color: #F6F6F6;
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 40px 0;
  text-align: center;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

.btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 50px;
  text-align: center;
  color: #000000;
  color: #FFFFFF;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear, -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 50px;
  text-align: center;
  color: #000000;
  color: #FFFFFF;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear, -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: #FFFFFF;
  width: auto;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 50px 0 30px 30px;
  text-align: left;
  color: #000000;
}

.title h2 {
  margin: 40px 0 20px 0;
}

.container2 .container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 24px;
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 336px;
  height: 74px;
  border-radius: 20px;
  background: #F6F6F6;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.select .icon {
  left: -14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 24px;
  height: 24px;
  position: absolute;
  font-weight: 500;
}

.container2 .select .icon .circle {
  position: absolute;
  z-index: 4;
  width: 28.8px;
  height: 28.8px;
  border-radius: 50%;
  background-color: #9356DC;
}

.container2 .select .icon .number {
  font-size: 0.85rem;
  font-weight: 400;
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28.8px;
  height: 28.8px;
  color: #FFFFFF;
}

.container2 .select:nth-child(1) i {
  font-size: 1.2rem;
}

.container2 .select i {
  padding: 0 18px 0 30px;
}

/************************* FOOTER **************************/
/***********************************************************/
footer {
  font-size: 1rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 25px 35px 25px;
  color: #FFFFFF;
  background-color: #353535;
}

footer .logo {
  padding-bottom: 10px;
}

.footer_card, .logo {
  width: 100%;
  max-width: 800px;
}

footer .logo img {
  width: auto;
  height: 20px;
}

.footer_card, .logo {
  width: 100%;
  max-width: 800px;
}

.footer_card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_card i {
  font-size: 0.9rem;
  margin-right: 10px;
}

footer a:visited, footer a:link, footer a:active {
  text-decoration: none;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */