/******************************REGLES GLOBALES********************/
/*****************************************************************/
body {
    font-family: "Roboto", sans-serif;
    margin: auto;
    width: 100%;
  }
  
header {
    background-color: white;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
a {
    color: inherit;
    text-decoration: none;
  }

  /*********************** LOADER ********************************/
  /***************************************************************/

  .cont_loader {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  
  .loader {
    border: 10px solid #9356DC;
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #99E2D0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-iteration-count: auto;
            animation-iteration-count: auto;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
              
              
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  /***************************************************************/
  /***********************ANIM CONT_LOADER************************/

  .pageloader_anim {
	animation-name: text-blur-out;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
 }

 @-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
              
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
              display: none;
              
    }
  }
  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  
  /*********************** ENTETE / CONCEPT **********************/
  /***************************************************************/
  .header_container {
    background: #ececec;
    padding-bottom: 25px;
  }
  
  .localisation {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: black;
    background-color: #d3d3d3;
  }
  
  .map_icon {
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 40px 50px 20px 50px;
  }
  
  h2 {
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
    margin: 0 20px;
  }
  
  .btn_xp {
    position: relative;
    display: block;
    text-decoration: none;
    width: 220px;
    height: 50px;
    margin: 30px auto;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-box-shadow: 0 2px 4px #636363cc;
            box-shadow: 0 2px 4px #636363cc;
  }
  
  .btn_xp2 {
    text-align: center;
    padding-top: 15px;
    color: white;
  }

  .btn_xp:hover {
    
    background: #D63DF6;
    background-image: -webkit-linear-gradient(top, #D63DF6, #881ED0);
    background-image: -moz-linear-gradient(top, #D63DF6, #881ED0);
    background-image: -ms-linear-gradient(top, #D63DF6, #881ED0);
    background-image: -o-linear-gradient(top, #D63DF6, #881ED0);
    background-image: -webkit-gradient(to bottom, #D63DF6, #881ED0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-decoration: none;
  }

  .fct_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 40px;
  }
  
  .fct_card {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ececec;
    border-radius: 20px;
    margin: 10px 20px 10px 25px;
    -webkit-box-shadow: 2px 2px 7px #d3d3d3;
            box-shadow: 2px 2px 7px #d3d3d3;
  }
  

  .icon {
    position: relative;
    margin-left: -10px;
    height: 27px;
    width: 27px;
    background: #9356DC;
    border-radius: 20px;
  }
  
  .number {
    margin: 4px 0 0 9px;
    font-weight: bold;
    color: white;
  }
  
  .fct_txt {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 25px;
    margin: 0;
  }
  
  .icon2 {
    width: 15px;
    height: 15px;
    color: #636363cc;
    margin-left: 20px;
  }
  
  /************************* RESTAURANTS *************************/
  /***************************************************************/
  .rest_background {
    background:#ececec;
  }
  
  .card {
    position: relative;
    background: white;
    height: 250px;
    border-radius: 20px;
    margin: 20px;
    -webkit-box-shadow: 2px 2px 7px #d3d3d3;
            box-shadow: 2px 2px 7px #d3d3d3;
  }
  
  .card_bloc {
    overflow: hidden;
    height: 65%;
  }
  
  .card_img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  h4 {
    margin: 15px 0px 5px 15px;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .city {
    margin: 0px 0px 0px 15px;
    font-weight: normal;
    font-size: 1rem;
  }
  
  .bloc_new {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #99E2D0;
    border-radius: 3px;
  }
  
  .new {
    display: block;
    font-size: 0.9rem;
    text-align: center;
    color: #278870;
    padding: 9px;
  }

  /************************* FOOTER ******************************/
  /***************************************************************/
  footer {
    font-size: 1rem;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding: 25px 25px 35px 25px;
    color: #FFFFFF;
    background-color: #353535;
  }

  .footer_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer_card i {
    font-size: 0.9rem;
    margin-right: 10px;
  }
  
  .
  /************************* PAGES MENU ***************************/
  /****************************************************************/
  .back_icon {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    left: 20px;
    top: auto;
  }
  
  .bloc_ban {
    overflow: hidden;
    height: 300px;
  }
  
  .img_ban {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center bottom;
       object-position: center bottom;
  }
  
  .menu_back {
    position: relative;
    background-color: #ececec;
    border-radius: 45px 45px 0px 0px;
    margin-top: -50px;
    padding-bottom: 10px;
  }
  
  .menu_title {
    font-family: "Shrikhand";
    font-size: 1.7rem;
    padding-top: 20px;
    padding-left: 5px;
    text-align: left;
  }
  
  .bloc_menu {
    margin-bottom: 15px;
  }
  
  .description {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
  }
  
  .subline {
    background-color: #99E2D0;
    margin: 3;
    height: 3px;
    width: 40px;
  }
  
  .list_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .list_bloc {
    margin: 0 15px 15px 0;
    background: white;
    height: 70px;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 7px #d3d3d3;
            box-shadow: 2px 2px 7px #d3d3d3;
    position: relative;
    overflow: hidden;
  }
  
  h3 {
    font-weight: bold;
    padding: 10px 0 10px 20px;
    margin: 0;
  }
  
  .element_undertitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    width: 100%;
    -webkit-transform-origin: left 50%;
            transform-origin: left 50%;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  
  .element_acc {
    margin: 0px 0px 0px 15px;
    font-weight: normal;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .element_price {
    margin: 0;
    font-weight: bold;
    padding-left: 10px;
    width: 50px;
  }
  
/********************ANIMATION MENU*******************************/
/*****************************************************************/
  
.fade-in-menu {
    animation-name: fade-in-menu;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
	-webkit-animation: fade-in-menu 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-menu 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-menu {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-menu {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  /*********************** ANIM/COEUR MENU **********************/
  /**************************************************************/

  .coeur {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    top: 30px;
    opacity: 1;
  }
  .coeur2 {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    top: 30px;
    opacity: 0;
  }

  .coeur2:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    background: linear-gradient(#FF79DA, #9356DC);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   /******************* ANIM/COEUR PAGE ACC ********************/
   /************************************************************/


   .coeur0 {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    top: 190px;
    opacity: 1;
  }
  .coeur1 {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    top: 190px;
    opacity: 0;
  }

  .coeur1:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    background: linear-gradient(#FF79DA, #9356DC);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   /*************************************************************/
   /*************************************************************/
